- name: Configurar Droplet da Aplicacao
  hosts: app-server
  become: true
  
  vars:
    app_user: usuarioapp

    certbot_email: "contato@email.com.br"

    domain: "dominio.com.br"
    subdomains: ["geo", "short"]

    app_internal_host: "xxx.x.x.x"
    app_internal_port: 8080
    app_port: 8080

  handlers:
    - name: Restart UFW
      service:
        name: ufw
        state: restarted
      listen: Restart UFW

    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
      listen: Restart Nginx

  roles: 
    - role: common
      tags: security

    - role: nginx
      tags: webserver

    - role: docker  
