- name: Deploy Docker Application
  hosts: app-server
  gather_facts: false
  become: true

  tasks:
    - name: "Definir dados da aplicação a ser implantada"
      ansible.builtin.set_fact:
        current_app: "{{ apps | selectattr('name', '==', app_to_deploy) | list | first | default({}) }}"
    
    - name: "Falhar se a aplicação não for encontrada"
      ansible.builtin.fail:
        msg: "A aplicação '{{ app_to_deploy }}' não foi encontrada no arquivo apps.yaml."
      when: current_app == {} or current_app.name is not defined

    - name: "Login no container registry da DigitalOcean"
      ansible.builtin.shell: |
        echo "{{ lookup('env', 'DOCKER_PASSWORD') }}" | \
        docker login registry.digitalocean.com \
        --username {{ lookup('env', 'DOCKER_USERNAME') }} \
        --password-stdin
      no_log: true

    - name: "Parar e remover contêiner antigo (se existir)"
      ansible.builtin.command: docker rm -f {{ current_app.name }}
      ignore_errors: true
      register: stop_result

    - name: "Puxar a nova imagem do registry"
      ansible.builtin.command: docker pull {{ lookup('env', 'FULL_IMAGE_PATH') }}

    - name: "Rodar o novo contêiner"
      ansible.builtin.command: >
        docker run -d
        --name {{ current_app.name }}
        --restart always
        -p {{ current_app.host_port }}:{{ current_app.internal_port }}
        {{ lookup('env', 'FULL_IMAGE_PATH') }}